/*重置样式*/
*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
.header{
	height: 80px;
	line-height: 80px;
	padding: 0px 45px;
}
.logo{
	float: left;
	position: relative;
	top: 15px;
}
.nav{
	float: left;
	font-size: 0px;
	margin-left: 50px;
}
.nav a{
	font-size: 16px;
	color: black;
	text-decoration: none;
	margin-right: 27px;
}
.imglist{
	float: right;
	line-height: 0;
}
.imglist img{
	margin-top: 28px;
}
.main{
	width: 100%;
	padding: 0px 45px;
	overflow: hidden;
	
}
.main img{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	height: 300px;
	width: calc(((100% - 110px)/3 - 10px)/2);
}
.main img:nth-child(4n){
	margin-right: 0px;
}
.main .big{
	width: calc((100% - 110px)/3);
}
.footer{
	height: 24px;
	padding: 15px 45px 15px;
}
.footer p{
	float: left;
}
.footer div{
	float: right;
}
